
/* #week 3 or 4 for skip to main
#look at other hw file
find all 9 pictures */

/* 3 pics on 1st, 3 pics on the second page, 3pics on the 3rd page  */

html{
    scroll-behavior: smooth;
  }
  
  
  
body{
    background-image: linear-gradient(rgb(249, 223, 174), #ff8800);
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    font-size: 100%;
}
  

.overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    height: 400px;                /* Parallax effect */
}
  

img{
    width: 85%;
    height: 75%;
}

h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}

.home-container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-gap: 2px;
}

.about-image img{
    border: 5px solid green;
}

.north-container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 5px;
    align-items:center; 
}

.lake-about-image img{
    border: 5px solid blue;
}

.south-container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-gap: 2px;
}

.animals-container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-gap: 2px;
}

.contact-container{
    display: grid;
    grid-template-columns: 10fr;
    grid-gap: 2px;
}

nav ul {
    list-style: none;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 25px 0;
    text-align: left;
}

ul{
    display: block;
    text-align: center;
}